:root {
   --notification-sfx: https://xobyte.org/files/WinXPNotify.mp3;
   --background-color: rgb(236, 233, 216);
}
*::selection {
   color: #EEE;
   background-color: #55E;
   opacity: 1;
}
@font-face {
   font-family: "WinXP";
   src: url('https://xobyte.org/files/fonts/win.woff');
}
body, html {
  background-color: #627694;
  font-family: MS Gothic, WinXP, Tahoma, sans-serif;
}
.msgWrapper {
  display: flex;
  width: calc(100% - 20px);
  align-items: center;
  margin: 10px;
  position: relative;
  margin-top: 310x;
  filter: drop-shadow(1px 1px 1px #333);
}
.msgWrapper:hover {
  outline: dotted 1px #FFF;
}
.msgWrapper:hover::before {
  outline: dotted 1px #FFF;
  text-decoration: underline dotted 1px #FFF;
}
.allMessages {
  display: block;
  background: var(--background-color);
  border: 1px solid rgb(208, 208, 191);
  border-top: none;
  border-radius: 0 0 3px 3px;
  margin: 0;
  line-height: 12px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  cursor: default;
}

/* text border */
.allMessages > pre {
    outline: dotted 1px #111;
    margin: 5px;
    padding: 5px;
    margin-top: 2pt;
    position: relative;
}

.allMessages:before {
   content: attr(time);
   float: right;
   pointer-events: none;
   font-style: italic;
   font-size: 8pt;
   color: #777;
}
.senderInfo {
  margin-left: 5px !important;
}

.sent .senderInfo {
  color: #33F;
}
.received .senderInfo {
  color: #0e4699;
}
#background {
   scrollbar-color: unset;
   scrollbar-width: unset;
}
#background::-webkit-scrollbar, #background ::-webkit-scrollbar {
     width: 20px;
}
#background::-webkit-scrollbar-track, #background ::-webkit-scrollbar-track {
  border-radius: 0;
  background: linear-gradient(90deg, #DDD, #FEFEFB);
}
#background::-webkit-scrollbar-thumb, #background ::-webkit-scrollbar-thumb {
  background: #C3D3FD; 
  border: solid 1px #EEE;
  border-radius: 2%;
  box-shadow: 0 0 1px #7C9FD3, 0 0 5px rgba(126, 159, 211, 0.5) inset;
}
#background::-webkit-scrollbar-button:single-button, #background ::-webkit-scrollbar-button:single-button {
  background-color: #C3D3FD;
  width: calc(100% - 2px);
  border: solid 1px #EEE;
  border-radius: 2%;
  box-shadow: 0 0 5px rgba(126, 159, 211, 0.5) inset;
  min-height: 20px;
}
#background::-webkit-scrollbar-button:single-button:vertical:increment, #background ::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(https://xp.xobyte.org/resources/down.PNG);
  background-size: 100% 100%;
}
#background::-webkit-scrollbar-button:single-button:vertical:decrement, #background ::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(https://xp.xobyte.org/resources/up.PNG);
  background-size: 100% 100%;
}
#background::-webkit-scrollbar-button:hover, #background ::-webkit-scrollbar-button:hover {
  background: #7C9FD3;
  
}
#background * {
  scrollbar-color: #333 transparent;
  scrollbar-width: thin;
}
#textInput {
   background-color: rgb(236, 233, 216);
   box-sizing: border-box;
   padding: 5px;
}
#input, #nameEntry {
   background-color: #FFF;
   border: inset 2px rgb(208, 208, 191);
   padding: 3px;
   box-sizing: border-box;
   border-radius: 2px;
   font-family: inherit;
   font-size: 10pt;
}
 #input:focus, #nameEntry:focus {
   outline: dotted 1px #000;
}
 a {
   font-family: inherit;
   color: inherit !important;
}
 #timestamp {
   display: none;
   color: #555;
   font-size: 10pt;
}
#top_banner {
   display: none;
}
input, button {
  font-family: inherit;
}
blockquote {
   border: 1px solid rgb(208, 208, 191);
   border-radius: 3px;
   line-height: 12px;
   position: relative;
}
.mod, .owner {
  background-color: transparent;
  background-image: url('/media/crown.png');
  background-size: 100% 100%;
  border-radius: 0;
}
.owner {
   filter: hue-rotate(-60deg);
}
.mod {
   filter: hue-rotate(-180deg);
}
#emojiTrayToggle {
  background-size: 90% 90%;
  background-position: center;
  
  aspect-ratio: 1;
  top: 12.5%;
  border-radius: 0;
  border: 2px inset rgb(208, 208, 191);
}
#emojiTray {
  background-color: rgb(236, 233, 216);
  color: #222;
}
#settings {
  right: 25px;
}
#settingsMenu {
  padding: 0;
  width: 100%;
}
#settingsMenu p {
  padding: 3px 10px 3px 10px;
}
#save {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 3px 6px 3px 6px;
  font-size: 10pt;
  position: relative;
  border: outset 2px #6982EE;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
#save:hover::after {
  content: " ";
  display: block;
  width: 95%;
  height: 80%;
  border: dotted 1px #000;
  position: absolute;
  left: 2%;
  top: 10%;
  border-radius: 6px;
}
#save:hover {
  border-color: #C50;
}
#is_typing {
  background-color: transparent;
  border-radius: 0;
  overflow: visible;
  width: auto;
  color: var(--background-color);
}
#is_typing:before {
  content: "Typing";
  font-size: 8pt;
  color: var(--background-color);
}
#is_typing > span {
   background-color: var(--background-color);
   height: 2px;
   width: 2px;
   border-radius: 0;
}
#ctxMenu {
  min-width: 150px !important;
  max-width: 50vw !important;
  background-color: var(--background-color) !important;
  color: rgb(0, 0, 0) !important;
  margin: 0px !important;
  padding: 0px !important;
  z-index: 100000000 !important;
  border: 1px solid rgb(151, 151, 151) !important;
  border-radius: 1px !important;
  box-shadow: rgb(0, 0, 0) 0px 0px 1px !important;
  overflow: hidden !important;
}
.ctxMenuOption {
  margin: 0px 0px 0px 25px !important;
  padding: 3px 3px 3px 12px !important;
  background-color: rgb(240, 240, 240) !important;
  cursor: default !important;
  user-select: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(254, 254, 254) transparent rgb(225, 225, 225) rgb(225, 225, 225) !important;
  border-image: initial !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  width: 100%;
}
.ctxMenuOption:hover {
  background-color: rgb(237, 241, 246) !important;
  border: 1px solid rgb(174, 207, 247) !important;
}